<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>addbrand</servlet-name>
        <servlet-class>addbrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_cab</servlet-name>
        <servlet-class>Add_cab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_compliant</servlet-name>
        <servlet-class>user_compliant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>My_Booking</servlet-name>
        <servlet-class>My_Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Driver_Login</servlet-name>
        <servlet-class>Driver_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>drivercompliant</servlet-name>
        <servlet-class>drivercompliant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notice</servlet-name>
        <servlet-class>Notice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rule</servlet-name>
        <servlet-class>Rule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driverregistration</servlet-name>
        <servlet-class>driverregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vahical_Type</servlet-name>
        <servlet-class>Vahical_Type</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_Brand</servlet-name>
        <servlet-class>view_Brand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Feedback</servlet-name>
        <servlet-class>User_Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Login</servlet-name>
        <servlet-class>Admin_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot_Password_admin</servlet-name>
        <servlet-class>Forgot_Password_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot_Password_user</servlet-name>
        <servlet-class>Forgot_Password_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot_Password_Driver</servlet-name>
        <servlet-class>Forgot_Password_Driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_Registration</servlet-name>
        <servlet-class>user_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>My_Payment</servlet-name>
        <servlet-class>My_Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cash_on_pay</servlet-name>
        <servlet-class>Cash_on_pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UPI</servlet-name>
        <servlet-class>UPI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Phone_pay_Pament</servlet-name>
        <servlet-class>Phone_pay_Pament</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_cab_List</servlet-name>
        <servlet-class>view_cab_List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Compliant</servlet-name>
        <servlet-class>Update_Compliant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_driverCompliant</servlet-name>
        <servlet-class>Update_driverCompliant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Registration</servlet-name>
        <servlet-class>Admin_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vahical_typeuser</servlet-name>
        <servlet-class>vahical_typeuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Mybooking</servlet-name>
        <servlet-class>Update_Mybooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackdriver</servlet-name>
        <servlet-class>feedbackdriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Add_Distance</servlet-name>
        <servlet-class>Admin_Add_Distance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select_Distance</servlet-name>
        <servlet-class>Select_Distance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_Rules</servlet-name>
        <servlet-class>view_Rules</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_Rule</servlet-name>
        <servlet-class>view_Rule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRate</servlet-name>
        <servlet-class>AddRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Rule</servlet-name>
        <servlet-class>User_Rule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pending_Payment</servlet-name>
        <servlet-class>Pending_Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_notice</servlet-name>
        <servlet-class>view_notice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_Report</servlet-name>
        <servlet-class>user_Report</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addbrand</servlet-name>
        <url-pattern>/addbrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_cab</servlet-name>
        <url-pattern>/Add_cab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_compliant</servlet-name>
        <url-pattern>/user_compliant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>My_Booking</servlet-name>
        <url-pattern>/My_Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Driver_Login</servlet-name>
        <url-pattern>/Driver_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>drivercompliant</servlet-name>
        <url-pattern>/drivercompliant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notice</servlet-name>
        <url-pattern>/Notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/User_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rule</servlet-name>
        <url-pattern>/Rule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driverregistration</servlet-name>
        <url-pattern>/driverregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vahical_Type</servlet-name>
        <url-pattern>/Vahical_Type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_Brand</servlet-name>
        <url-pattern>/view_Brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Feedback</servlet-name>
        <url-pattern>/User_Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Login</servlet-name>
        <url-pattern>/Admin_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot_Password_admin</servlet-name>
        <url-pattern>/Forgot_Password_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot_Password_user</servlet-name>
        <url-pattern>/Forgot_Password_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot_Password_Driver</servlet-name>
        <url-pattern>/Forgot_Password_Driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_Registration</servlet-name>
        <url-pattern>/user_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>My_Payment</servlet-name>
        <url-pattern>/My_Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cash_on_pay</servlet-name>
        <url-pattern>/Cash_on_pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UPI</servlet-name>
        <url-pattern>/UPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Phone_pay_Pament</servlet-name>
        <url-pattern>/Phone_pay_Pament</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_cab_List</servlet-name>
        <url-pattern>/view_cab_List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Compliant</servlet-name>
        <url-pattern>/Update_Compliant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_driverCompliant</servlet-name>
        <url-pattern>/Update_driverCompliant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Registration</servlet-name>
        <url-pattern>/Admin_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vahical_typeuser</servlet-name>
        <url-pattern>/vahical_typeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Mybooking</servlet-name>
        <url-pattern>/Update_Mybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackdriver</servlet-name>
        <url-pattern>/feedbackdriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Add_Distance</servlet-name>
        <url-pattern>/Admin_Add_Distance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select_Distance</servlet-name>
        <url-pattern>/Select_Distance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_Rules</servlet-name>
        <url-pattern>/view_Rules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_Rule</servlet-name>
        <url-pattern>/view_Rule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRate</servlet-name>
        <url-pattern>/AddRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Rule</servlet-name>
        <url-pattern>/User_Rule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pending_Payment</servlet-name>
        <url-pattern>/Pending_Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_notice</servlet-name>
        <url-pattern>/view_notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_Report</servlet-name>
        <url-pattern>/user_Report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
